.cbp-hrmenu {
    width: 100%;
}
.cbp-hrmenu ul {
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* first level ul style */
.cbp-hrmenu > ul,
.cbp-hrmenu .cbp-hrsub-inner {
    width: 100%;
}

.cbp-hrmenu > ul > li {
    display: inline-block;
}

.cbp-hrmenu > ul > li > a {   
	background-image: url("../../../assets/global/img/select-arrow1.png");
    background-position: 126px center;
    background-repeat: no-repeat;	
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3) inset;
    display: inline-block;
    font-weight: 400;
    margin-left: -3px;
    padding: 4px;
    text-align: left;
    width: 148px;
    text-decoration:none;
    color:#444444;
}

.cbp-hrmenu > ul > li > a:hover {
/*    color: #47a3da;*/
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: none;
    left: 12px;
    position: absolute;
    /*width: 152%;*/	width:305%;
    z-index: 1000;
    height: 200px;
    overflow-y: scroll;
}#cbp-hrsub {	background: #f8f8f8 none repeat scroll 0 0;    border: 1px solid #ddd;    border-radius: 5px;    display: none;    left: 12px;    position: absolute;    width: 152%;	/*width:305%;*/    z-index: 1000;    height: 200px;    overflow-y: scroll;}
.cbp-hropen .cbp-hrsub {
    display: block;
    padding-bottom: 1em;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
    float: left;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
    content: " ";
    display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
    clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
    line-height: 2em;
	color:#002040;
}

.cbp-hrsub h4 {
    color: #fff;
    padding: 1em 0 0.6em;
    margin: 0;
    font-size: 110%;
    font-weight: 500;
}

/* Examples for media queries */

@media screen and (max-width: 52.75em) { 

    .cbp-hrmenu {
        font-size: 80%;
    }

}

@media screen and (max-width: 43em) { 

    .cbp-hrmenu {
        font-size: 120%;
        border: none;
    }

    .cbp-hrmenu > ul,
    .cbp-hrmenu .cbp-hrsub-inner {
        width: 100%;
        padding: 0;
    }

    .cbp-hrmenu .cbp-hrsub-inner {
        padding: 0 2em;
        font-size: 75%;
    }

    .cbp-hrmenu > ul > li {
        display: block;
        border-bottom: 4px solid #47a3da;
    }

    .cbp-hrmenu > ul > li > a { 
        display: block;
        padding: 1em 3em;
    }

    .cbp-hrmenu .cbp-hrsub { 
        position: relative;
    }

    .cbp-hrsub h4 {
        padding-top: 0.6em;
    }

}

@media screen and (max-width: 36em) { 
    .cbp-hrmenu .cbp-hrsub-inner > div {
        width: 100%;
        float: none;
        padding: 0 2em;
    }
}

.cbp-hrsub-inner .check{
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    width: 10px;
}

.sp-quantity {
    float: left;
    color:#002040;
}
.sp-quantity .quntity-input{
    color: #002040;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 28px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset;
}
.ddd{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.cbp-hrsub-inner li {
    float: left;
    width: 100%;
    position: relative;
}
.cname{
    float: left;
    width: 50%;
    font-family: 'Raleway', sans-serif;
    color:#002040;
}
.cbp-cartlist ul{
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    list-style-type: none;
    margin: 15px;
    padding: 0;
}
.modify ul{
    -moz-column-count: 5;
    -moz-column-gap: 30px;
    list-style-type: none;
    margin: 15px;
    padding: 0;
	text-decoration: underline;
	cursor:pointer;
}